<%# Este div tendr치 un ID 칰nico como "like_section_pin_42" %>
<div id="<%= dom_id(pin, :like_section) %>">
  <div class="like-section">
    <% if user_signed_in? %>
      <% if current_user.likes?(pin) %>
        <%# Si ya le dio "Me Gusta", muestra el bot칩n de "Quitar Me Gusta" %>
        <%= button_to "仇벒잺 #{pin.likes.count} Me Gusta", pin_like_path(pin), method: :delete %>
      <% else %>
        <%# Si no le ha dado "Me Gusta", muestra el bot칩n de "Me Gusta" %>
        <%= button_to "游밼 #{pin.likes.count} Me Gusta", pin_like_path(pin), method: :post %>
      <% end %>
    <% else %>
      <%# Si no ha iniciado sesi칩n, solo muestra el contador %>
      <span>游밼 <%= pin.likes.count %> Me Gusta</span>
    <% end %>
  </div>
</div>